<div class="ui form">
    <div class="grouped fields">
        <label>Checkbox Style Examples</label>
        <div class="field">
            <sui-checkbox class="slider">Slider checkbox</sui-checkbox>
        </div>
        <div class="field">
            <sui-checkbox class="toggle">Toggle checkbox</sui-checkbox>
        </div>
    </div>
</div>