<!-- <ac-map>

</ac-map> -->

<!-- <div class="ui form">
  <div class="grouped fields">
      <label>Checkbox Style Examples</label>
      <div class="field">
          <sui-checkbox class="slider">Slider checkbox</sui-checkbox>
      </div>
      <div class="field">
          <sui-checkbox class="toggle">Toggle checkbox</sui-checkbox>
      </div>
  </div>
</div>
<nav>
    <a>Navigation:</a>
    <ul>
      <li> <a routerLink="/home">HOME</a></li>
    </ul>
  </nav>
<router-outlet></router-outlet> -->

<sui-tabset>
    <div class="ui top attached tabular menu">
        <a class="item" suiTabHeader="1">First</a>
        <a class="item" suiTabHeader="2">Second</a>
        <a class="item" suiTabHeader="cesium">Third</a>
    </div>
    <div class="ui bottom attached segment" suiTabContent="1">
        <app-home></app-home>
    </div>
    <div class="ui bottom attached segment" suiTabContent="2">
        <app-semantic></app-semantic>
    </div>
    <div class="ui bottom attached segment" suiTabContent="cesium">
        <app-cesium></app-cesium>
    </div>
</sui-tabset>
