body {
  display: flex;
}

html, body, ac-map {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cesium-viewer-bottom {
  display: none;
}

ac-map{
  display:block;
  height:100%;
}
sd-cesium, ac-map > div{
  height:100%;
}